<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="topnav">
        <%= link_to "Blogger Tutorial", articles_path %>
        <%= link_to "Home", articles_path %>
        <%= link_to "Tags", tags_path %>
      </div>
    <p class="flash"><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
